<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>五十音图</title>
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">五十音图</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse"aria-expanded="true">
            <ul class="nav navbar-nav nav-pills nav-stacked">
                <li role="presentation" style="margin-top: 2px;"><a href="gojuonzu.html">假名学习</a></li>
                <li role="presentation"><a href="testhiragana.html">平假名测试</a></li>
                <li role="presentation"><a href="testhiraganavoice.html">平假名听音测试</a></li>
                <li role="presentation"><a href="testkatakana.html">片假名测试</a></li>
                <li role="presentation"><a href="testkatakanavoice.html">片假名听音测试</a></li>
                <li role="presentation" class="active"><a href="#">平假名对应测试</a></li>
                <li role="presentation"><a href="kata-hira.html">片假名对应测试</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="row clearmargin text-center" id="hira-kata">
    <div class="col-lg-2 col-md-1 rowdisplaynone clearpadding"><label></label></div>
    <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 clearpadding" :class="{displaynone : isOver}">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><label class="btn-success">正确:{{rightkananumber}}</label></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><label>剩余:{{remainder}}</label></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><label class="btn-danger">错误:{{wrongkananumber}}</label></div>
        <div class="">
            <label class="testkana img-thumbnail">{{showkana.hiragana}}</label>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 paddingblock">
            <button class="btn btn-lg btn-block testanswer" @click="validate(1)" :class="[colorbutton[1].color,colorbutton[0].disabled]">{{answerkanas[1].katakana}}</button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 paddingblock">
            <button class="btn btn-lg btn-block testanswer" @click="validate(2)" :class="[colorbutton[2].color,colorbutton[0].disabled]">{{answerkanas[2].katakana}}</button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 paddingblock">
            <button class="btn btn-lg btn-block testanswer" @click="validate(3)" :class="[colorbutton[3].color,colorbutton[0].disabled]">{{answerkanas[3].katakana}}</button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 paddingblock">
            <button class="btn btn-lg btn-block testanswer" @click="validate(4)" :class="[colorbutton[4].color,colorbutton[0].disabled]">{{answerkanas[4].katakana}}</button>
        </div>
    </div>
    <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12" v-if="isOver">
        <h1 class="kana">错误数量:{{wrongkananumber}}</h1>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 paddingblock" v-for="kana in wrongkanas">
                <button class="btn kana" :title="kana.romaji" @click="playvoice(kana.hiragana)">
                    {{kana.hiragana}}
                </button>
            </div>
        </div>
        <audio id="playVoice" style="display: none" :src="voice"></audio>
    </div>
    <div class="col-lg-2 col-md-1 rowdisplaynone clearpadding"><label></label></div>
</div>
<script type="text/javascript" src="public/js/jquery.min.js"></script>
<script type="text/javascript" src="public/js/bootstrap.js"></script>
<script type="text/javascript" src="public/js/vue.js"></script>
<script type="text/javascript">

    var app = new Vue({
        el: '#hira-kata',
        data: {
            remainder: 0,
            rightkananumber: 0,
            wrongkananumber: 0,
            isOver: false,
            testkanas: [],
            kanaboxs:[],
            showkana: [],
            wrongkanas: [],
            answerkanas: [[], [], [], [], []],
            colorbutton: [[], [], [], [], []],
            voice : '',
            answered : false,
            kanas: [
                {
                    hiragana: 'あ',
                    katakana: 'ア',
                    romaji: 'a',
                    number:0
                }, {
                    hiragana: 'い',
                    katakana: 'イ',
                    romaji: 'i',
                    number:1
                }, {
                    hiragana: 'う',
                    katakana: 'ウ',
                    romaji: 'u',
                    number:2
                }, {
                    hiragana: 'え',
                    katakana: 'エ',
                    romaji: 'e',
                    number:3
                }, {
                    hiragana: 'お',
                    katakana: 'オ',
                    romaji: 'o',
                    number:4
                }, {
                    hiragana: 'か',
                    katakana: 'カ',
                    romaji: 'ka',
                    number:5
                }, {
                    hiragana: 'き',
                    katakana: 'キ',
                    romaji: 'ki',
                    number:6
                }, {
                    hiragana: 'く',
                    katakana: 'ク',
                    romaji: 'ku',
                    number:7
                }, {
                    hiragana: 'け',
                    katakana: 'ケ',
                    romaji: 'ke',
                    number:8
                }, {
                    hiragana: 'こ',
                    katakana: 'コ',
                    romaji: 'ko',
                    number:9
                }, {
                    hiragana: 'さ',
                    katakana: 'サ',
                    romaji: 'sa',
                    number:10
                }, {
                    hiragana: 'し',
                    katakana: 'シ',
                    romaji: 'shi',
                    number:11
                }, {
                    hiragana: 'す',
                    katakana: 'ス',
                    romaji: 'su',
                    number:12
                }, {
                    hiragana: 'せ',
                    katakana: 'セ',
                    romaji: 'se',
                    number:13
                }, {
                    hiragana: 'そ',
                    katakana: 'ソ',
                    romaji: 'so',
                    number:14
                }, {
                    hiragana: 'た',
                    katakana: 'タ',
                    romaji: 'ta',
                    number:15
                }, {
                    hiragana: 'ち',
                    katakana: 'チ',
                    romaji: 'chi',
                    number:16
                }, {
                    hiragana: 'つ',
                    katakana: 'ツ',
                    romaji: 'tsu',
                    number:17
                }, {
                    hiragana: 'て',
                    katakana: 'テ',
                    romaji: 'te',
                    number:18
                }, {
                    hiragana: 'と',
                    katakana: 'ト',
                    romaji: 'to',
                    number:19
                }, {
                    hiragana: 'な',
                    katakana: 'ナ',
                    romaji: 'na',
                    number:20
                }, {
                    hiragana: 'に',
                    katakana: 'ニ',
                    romaji: 'ni',
                    number:21
                }, {
                    hiragana: 'ぬ',
                    katakana: 'ヌ',
                    romaji: 'nu',
                    number:22
                }, {
                    hiragana: 'ね',
                    katakana: 'ネ',
                    romaji: 'ne',
                    number:23
                }, {
                    hiragana: 'の',
                    katakana: 'ノ',
                    romaji: 'no',
                    number:24
                }, {
                    hiragana: 'は',
                    katakana: 'ハ',
                    romaji: 'ha',
                    number:25
                }, {
                    hiragana: 'ひ',
                    katakana: 'ヒ',
                    romaji: 'hi',
                    number:26
                }, {
                    hiragana: 'ふ',
                    katakana: 'フ',
                    romaji: 'fu',
                    number:27
                }, {
                    hiragana: 'へ',
                    katakana: 'ヘ',
                    romaji: 'he',
                    number:28
                }, {
                    hiragana: 'ほ',
                    katakana: 'ホ',
                    romaji: 'ho',
                    number:29
                }, {
                    hiragana: 'ま',
                    katakana: 'マ',
                    romaji: 'ma',
                    number:30
                }, {
                    hiragana: 'み',
                    katakana: 'ミ',
                    romaji: 'mi',
                    number:31
                }, {
                    hiragana: 'む',
                    katakana: 'ヌ',
                    romaji: 'mu',
                    number:32
                }, {
                    hiragana: 'め',
                    katakana: 'メ',
                    romaji: 'me',
                    number:33
                }, {
                    hiragana: 'も',
                    katakana: 'モ',
                    romaji: 'mo',
                    number:34
                }, {
                    hiragana: 'や',
                    katakana: 'ヤ',
                    romaji: 'ya',
                    number:35
                }, {
                    hiragana: 'ゆ',
                    katakana: 'ユ',
                    romaji: 'yu',
                    number:36
                }, {
                    hiragana: 'よ',
                    katakana: 'ヨ',
                    romaji: 'yo',
                    number:37
                }, {
                    hiragana: 'ら',
                    katakana: 'ラ',
                    romaji: 'ra',
                    number:38
                }, {
                    hiragana: 'り',
                    katakana: 'リ',
                    romaji: 'ri',
                    number:39
                }, {
                    hiragana: 'る',
                    katakana: 'ル',
                    romaji: 'ru',
                    number:40
                }, {
                    hiragana: 'れ',
                    katakana: 'レ',
                    romaji: 're',
                    number:41
                }, {
                    hiragana: 'ろ',
                    katakana: 'ロ',
                    romaji: 'ro',
                    number:42
                }, {
                    hiragana: 'わ',
                    katakana: 'ワ',
                    romaji: 'wa',
                    number:43
                }, {
                    hiragana: 'を',
                    katakana: 'ヲ',
                    romaji: 'wo',
                    number:44
                }, {
                    hiragana: 'ん',
                    katakana: 'ン',
                    romaji: 'nn',
                    number:45
                }
            ]
        },
        methods: {
            createtestkanas: function () {
                this.testkanas = JSON.parse(JSON.stringify(this.kanas));
                this.kanaboxs = JSON.parse(JSON.stringify(this.kanas));
                this.initshowkana();
            },
            initshowkana: function () {
                var randomanswer = Math.ceil(Math.random() * 4);
                var randomkana = Math.floor(Math.random() * this.testkanas.length);
                this.showkana = this.testkanas[randomkana];
                this.answerkanas = [[], [], [], [], []];
                this.answerkanas[0] = randomanswer;
                this.colorbutton = [[], [], [], [], []];
                this.answered = false;
                this.testkanas.splice(randomkana, 1);
                this.kanaboxs.splice(this.showkana.number, 1);
                switch (randomanswer) {
                    case 1 :
                        this.answerkanas[1] = this.showkana;
                        this.answerrandom(2);
                        this.answerrandom(3);
                        this.answerrandom(4);
                        break;
                    case 2 :
                        this.answerrandom(1);
                        this.answerkanas[2] = this.showkana;
                        this.answerrandom(3);
                        this.answerrandom(4);
                        break;
                    case 3 :
                        this.answerrandom(1);
                        this.answerrandom(2);
                        this.answerkanas[3] = this.showkana;
                        this.answerrandom(4);
                        break;
                    case 4 :
                        this.answerrandom(1);
                        this.answerrandom(2);
                        this.answerrandom(3);
                        this.answerkanas[4] = this.showkana;
                        break;
                }
                this.remainder = this.testkanas.length;
            },
            answerrandom : function (number) {
                var wrongkana = Math.floor(Math.random() * this.kanaboxs.length);
                this.answerkanas[number] = this.kanaboxs[wrongkana];
                this.kanaboxs.splice(wrongkana,1);
            },
            wronganswercolor : function (a,b,c) {
                this.colorbutton[a].color = "btn-danger";
                this.colorbutton[b].color = "btn-danger";
                this.colorbutton[c].color = "btn-danger";
            },
            validate: function (answer) {
                if (this.answered !== true) {
                    switch (this.answerkanas[0]) {
                        case 1:
                            this.colorbutton[1].color = "btn-success";
                            this.wronganswercolor(2,3,4);
                            break;
                        case 2:
                            this.colorbutton[2].color = "btn-success";
                            this.wronganswercolor(1,3,4);
                            break;
                        case 3:
                            this.colorbutton[3].color = "btn-success";
                            this.wronganswercolor(1,2,4);
                            break;
                        case 4:
                            this.colorbutton[4].color = "btn-success";
                            this.wronganswercolor(1,2,3);
                            break;
                    }
                    this.colorbutton[0].disabled = "disabled";
                    this.answered = true;
                    this.kanaboxs = JSON.parse(JSON.stringify(this.kanas));
                    if (answer == this.answerkanas[0]) {
                        this.rightkananumber += 1;
                        if (this.testkanas.length == 0) {
                            this.isOver = true;
                        } else {
                            setTimeout(this.initshowkana,1000);
                        }
                    } else {
                        this.wrongkananumber += 1;
                        this.wrongkanas.push(this.showkana);
                        if (this.testkanas.length == 0) {
                            this.isOver = true;
                        } else {
                            setTimeout(this.initshowkana,1000);
                        }
                    }
                }else {}
            },
            playvoice: function (hiragana) {
                this.voice = "http://fanyi.baidu.com/gettts?lan=jp&text=" + hiragana + "&source=web";
                setTimeout(this.Play,0);
            },
            Play : function(){
                var audio = document.querySelector("#playVoice");
                audio.play();
            }

        },
        created: function () {
            this.createtestkanas();
        }
    })        ;
</script>
</body>
</html>
